<style type="text/css">
	.bod1{
            background: url(/assets/bg1.jpg) no-repeat
           center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 90vh;
      }
      .bg-container{
          background-color : #ffffff;
          padding : 30px;
          border-radius: 25px;
          width: 500px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      .bg{
            padding: 30px;
            display : flex;
            flex-direction : column;
            justify-content : center;
            align-items : center;
            
            margin-top : 0px;
            padding-top: 100px;
      }
</style>
<div  class="bg"><div class="bg-container">
	<% unless cart.line_items.empty? %>
	<h1 align="center" style="font-weight: bold;">Your cart </h1>
	<table id="customers" align="center" style="text-align: center;">
			<tr >
					<td ><strong>Quantity</strong></td>
					<td><strong>Name</strong></td>
					<td><strong>Cost</strong></td>
					<td><strong>Price</strong></td>
			</tr>
			<%= render(cart.line_items) %>
			<% $items=cart.line_items %>
			<% $cart1=cart %>
			<tr>
					<td colspan="3">Total</td>
					<td class="total_cell"> <%= number_to_indian_currency(cart.total_price) %> /-</td>
			</tr>
	</table>
	<!--% hidden_field_tag :amount, cart.total_price % -->
	<% session[:amount]=cart.total_price %>
	<div>
	<%= button_to 'Empty Cart', cart, :method => :delete, :confirm => 'Are you sure?', class: "btn btn-danger", style: "display:inline;" %>
	
	<%= link_to "Continue Shopping", '/gallery/index', {:style=>'color:#FFFdgF;', :class => "btn btn-info"} %>
	</div>

	<% if  user_signed_in? %>
		<%= link_to "Checkout", '/gallery/checkout', {:style=>'color:#FFFFFF;', :class => "btn btn-primary btn-block"} %>
	<% else %>
		<%= link_to "Checkout", new_user_session_path, {:style=>'color:#FFFFFF;', :class => "btn btn-primary btn-block"} %>
	<% end %>

<% end %></div></div>


	
