<style>
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

</style>

<h1 align="center" style="font-family: 'Grey Qo', cursive;font-size: 70px;">Instrument Gallery</h1>
<h2>Search Results</h2>
<table >

	<tr >
		<% count=0 %>
		<% @instrument.each do |instrument| %>
		<% if(count % 5)==0 %>
	</tr>

    <tr>
    	<% end %>
    	<% count+=1 %>
    	<td style="padding:52px" class="polaroid"><%= image_tag instrument.product_image, :height=>"200", :width=>"200" %><br>

    		<p style="color:green"><%= instrument.name %></p>
    		
    		<strong><%= instrument. model %></strong><br>
    		₹. <%= instrument.price %><br>
    	<%= button_to "Add to cart", line_items_path(:store_id => instrument.id) , class: "btn btn-success btn-sg"%></td>
    	
    	<% end %>
    	</tr>
    	</table>
